body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    text-align:center;
}

.checkout-box{
    width:350px;
    margin:40px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

.checkout-box input,
.checkout-box select{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.checkout-box button{
    width:100%;
    padding:10px;
    background:orange;
    color:white;
    border:none;
    cursor:pointer;
}